APP_NAME=CoffeeShop
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=coffee_shop
DB_USERNAME=postgres
DB_PASSWORD=

ADMIN_NAME=Administrator
ADMIN_EMAIL=
ADMIN_PASSWORD=